.cronometro {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: cronometro;
    
  
    .relogioWrapper {
      align-items: center;
      background-color: #7687A1;
      border-radius: 10px;
      box-shadow: 2px 4px 4px #0000009F;
      box-sizing: border-box;
      display: flex;
      font-size: 5rem;
      justify-content: center;
      margin-bottom: 24px;
      padding: 16px 12px;
      width: clamp(15rem, 6.316rem + 46.316vw, 48rem);
    }
  
    .titulo {
      font-size: clamp(1.2rem, 0.989rem + 1.123vw, 2rem);
      text-align: center;
    }
  
    button {
      background-color: #88bcd1;
      border-radius: 10px;
      box-shadow: 2px 4px 4px #0000009F;
      color: #272626;
      cursor: pointer;
      font-size: clamp(0.9rem, 0.808rem + 0.491vw, 1.25rem);
      padding: clamp(0.3rem, 0.116rem + 0.982vw, 1rem);
      width: clamp(5rem, 3.684rem + 7.018vw, 10rem);
      
      &:active {
        background-color: #7CA6B7;
        box-shadow: 2px 2px 4px #0000009F inset;
        cursor: auto;
      }
    }

    .containerButton {
      display: flex;
      gap: .5rem;
      width: fit-content;
    }
  
    @media screen and (min-width:1280px) {
      
      .relogioWrapper{
        font-size: 15rem;
      }
  
      p {
        font-size: 2rem;
      }
  
      button {
        grid-column-start: span 2;
        justify-self: center;
        width: 200px;
        font-size: 2.25rem;
      }
    }
  }